use nix

# Silences some warnings in the switch command, such as:
#   warning: Nix search path entry '/Users/ethan/.nix-defexpr/darwin' does not exist, ignoring
export NIX_PATH=$HOME/.nix-defexpr/channels
